# PyCity Schools Analysis

* Your analysis here
---

In [1]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data= pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data,school_data,how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

In [2]:
# Calculate the Totals (Schools and Students)
unique_schools = school_data_complete_df["school_name"].unique()
school_count = len(unique_schools)
print(f"Total number of unique schools: {school_count}")

student_count = school_data_complete_df["student_name"].count()
print(f"Total student counts is: {student_count}")

# Calculate the Total Budget
total_budget = school_data["budget"].sum()
print(f"Total budget across all 15 schools : {total_budget}")

Total number of unique schools: 15
Total student counts is: 39170
Total budget across all 15 schools : 24649428

In [3]:
# Calculate the Average Scores
average_maths_score = round(school_data_complete_df["maths_score"].mean(),2)
print(f"Average Match scores : {average_maths_score}")

average_reading_score = round(school_data_complete_df["reading_score"].mean(),2)
print(f"Average Reading scores : {average_reading_score}")

Average Match scores : 70.34
Average Reading scores : 69.98

In [4]:
# Calculate the Percentage Pass Rates
passing_maths_count = school_data_complete_df[(school_data_complete_df["maths_score"] >= 50)].count()["student_name"]
passing_maths_percentage = round(passing_maths_count / float(student_count) * 100,2)
print(f"passing_maths_percentage is : {passing_maths_percentage}%")

#passing_reading_percentage
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 50)].count()["student_name"]
passing_reading_percentage = round(passing_reading_count / float(student_count) * 100,2)
print(f"passing_reading_percentage is : {passing_reading_percentage}%")

#passing_maths_reading_percentage
passing_maths_reading_count =school_data_complete_df[(school_data_complete_df["maths_score"] >= 50) & \
                                                     (school_data_complete_df["reading_score"] >= 50)].count()["student_name"]
passing_maths_reading_percentage = round(passing_maths_reading_count /float(student_count) * 100 ,2)
print(f"passing_maths_reading_percentage is : {passing_maths_reading_percentage}%")

#overall_passing_rate
overall_passing_count = school_data_complete_df[(school_data_complete_df["maths_score"] >= 50) | \
                                                     (school_data_complete_df["reading_score"] >= 50)].count()["student_name"]
overall_passing_rate = round(overall_passing_count/float(student_count)*100,2)
print(f"overall_passing_rate is: {overall_passing_rate}%")

passing_maths_percentage is : 86.08%
passing_reading_percentage is : 84.43%
passing_maths_reading_percentage is : 72.81%
overall_passing_rate is: 97.7%

In [5]:
# Convert to DataFrame
area_summary_df = pd.DataFrame({

    "Local Government Area Summary" :["Total School","Total Students","Total Budget",
                                      "Average Maths Score","Average Reading Score",
                                      "% of Students passed Math","% of Students passed Reading",
                                      "% of Students passed Math & Reading"],
    " " : ["{:,}".format(school_count),
           "{:,}".format(student_count),
           "${:,.2f}".format(total_budget),
           "{:,.2f}".format(average_maths_score),
            "{:,.2f}".format(average_reading_score),
           "{:,.2f}%".format(passing_maths_percentage),
           "{:,.2f}%".format(passing_reading_percentage),
           "{:,.2f}%".format(passing_maths_reading_percentage)
          ]
                             })

# Formatting- formating works with above code.... ned to correct below code
#area_summary_df["Total School"] = area_summary_df["Total School"].astype(float).map("{:,}".format)
#area_summary_df["Total Students"] = area_summary_df["Total Students"].astype(float).map("{:,}".format)
#area_summary_df["Total Budget"] = area_summary_df["Total Budget"].astype(float).map("${:,.2f}".format)
#area_summary_df["% of Students passed Math"] = area_summary_df["% of Students passed Math"].astype(float).map("{:,.2f}%".format)
#area_summary_df["% of Students passed Reading"] = area_summary_df["% of Students passed Reading"].astype(float).map("{:,.2f}%".format)
#area_summary_df["% of Students passed Math & Reading"] = area_summary_df["% of Students passed Math & Reading"].astype(float).map("{:,.2f}%".format)

# Display the DataFrame
#print(area_summary_df.to_string(index=False))
area_summary_df

         Local Government Area Summary
0                         Total School              15
1                       Total Students          39,170
2                         Total Budget  $24,649,428.00
3                  Average Maths Score           70.34
4                Average Reading Score           69.98
5            % of Students passed Math          86.08%
6         % of Students passed Reading          84.43%
7  % of Students passed Math & Reading          72.81%

## School Summary

In [6]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])[["type","size"]]

# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index(["school_name"])[["type","size","budget"]]

school_data["capita"] = school_data["budget"]/school_data["size"]
per_school_capita = school_data.set_index(["school_name"])[["type","size","budget","capita"]]

# Calculate the average test scores per school from school_data_complete
average_scores = school_data_complete_df.groupby("school_name").agg({
"maths_score":"mean" ,"reading_score":"mean"}).rename(columns={"maths_score":"Average Maths Score",
                                                              "reading_score":"Average Reading Score"}).reset_index().round({"Avg Maths Score":2,
                                                                                                                         "Avg Reading Score":2
                                                                                                                        })
per_school_summary = pd.merge(per_school_capita,average_scores,on="school_name")
per_school_summary

,school_name,type,size,budget,capita,Average Maths Score,Average Reading Score
0,Huang High School,Government,2917,1910635,655.0,68.935207,68.910525
1,Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993
2,Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808
3,Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408
4,Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232
5,Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916
6,Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526
7,Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842
8,Holden High School,Independent,427,248087,581.0,72.583138,71.660422
9,Pena High School,Independent,962,585858,609.0,72.088358,71.613306
10,Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444
11,Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984
12,Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277
13,Ford High School,Government,2739,1763916,644.0,69.091274,69.572472
14,Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807

In [7]:
# Get the students who passed maths and passed reading by creating separate filtered DataFrames from school_data_complete.
passing_maths = school_data_complete_df[school_data_complete_df["maths_score"] >= 50]
school_passing_maths = passing_maths.groupby("school_name")["student_name"].count().reset_index()
school_passing_maths_columns =["school_name","passing_maths"]

passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 50]
school_passing_reading = passing_reading.groupby("school_name")["student_name"].count().reset_index()
school_passing_reading_columns =["school_name","passing_reading"]
                                               
# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
passing_both = school_data_complete_df[(school_data_complete_df["maths_score"] >=50) & (school_data_complete_df["reading_score"] >=50)]
school_passing_both = passing_both.groupby("school_name")["student_name"].count().reset_index()
school_passing_both_columns =["school_name","school_passing_both"]

filtered_school_data = school_passing_maths.merge(school_passing_reading, on="school_name").merge(school_passing_both,on="school_name")
filtered_school_data = filtered_school_data.rename(columns={
    "student_name_x":"Passing Maths","student_name_y":"Passing Reading","student_name":"Overall Passing"})

filtered_school_data

              school_name  Passing Maths  Passing Reading  Overall Passing
0      Bailey High School           4560             4348             3985
1     Cabrera High School           1688             1655             1501
2    Figueroa High School           2408             2442             1995
3        Ford High School           2258             2252             1848
4     Griffin High School           1339             1299             1194
5   Hernandez High School           3752             3795             3076
6      Holden High School            384              378              337
7       Huang High School           2383             2376             1946
8     Johnson High School           3907             3903             3199
9        Pena High School            882              833              762
10  Rodriguez High School           3631             3495             3176
11    Shelton High School           1612             1527             1389
12     Thomas High School           1371             1351             1136
13     Wilson High School           1890             1856             1540
14     Wright High School           1652             1560             1435

In [8]:
#  Calculate the Percentage Pass Rates
per_school_students = school_data_complete_df.groupby("school_name")["student_name"].count().reset_index()
per_school_students_columns= ["school_name","total_students"]

summary_df= per_school_students.merge(filtered_school_data, on="school_name")

per_school_passing_maths = round((summary_df["Passing Maths"] / summary_df["student_name"]) * 100,2)
per_school_passing_reading =round((summary_df["Passing Reading"] / summary_df["student_name"]) * 100,2)
overall_passing_rate =round((summary_df["Overall Passing"] / summary_df["student_name"]) * 100,2)

summary_df

In [9]:
# Convert to DataFrame
per_school_summary =

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

In [10]:
# Sort and show top five schools
top_schools =
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

In [11]:
# Sort and show bottom five schools
bottom_schools =
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

In [12]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores =
year_ten_scores =
year_eleven_scores =
year_twelve_scores =

# Combine series into single DataFrame
maths_scores_by_year =

# Minor data wrangling
maths_scores_by_year.index.name = None

# Display the DataFrame
maths_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

In [13]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores =
year_ten_scores =
year_eleven_scores =
year_twelve_scores =

# Combine series into single DataFrame
reading_scores_by_year =

# Minor data wrangling
reading_scores_by_year.index.name = None

# Display the DataFrame
reading_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

In [14]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [15]:
# Create a copy of the school summary since it has the "Per Student Budget"
#  This step can be skipped but its best to make a copy.
school_spending_df = per_school_summary

In [16]:
# Categorise spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791,<$585
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717,<$585
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766,$645-680
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979,$585-630
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122,$630-645
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103,<$585
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222,<$585

In [17]:
#  Calculate averages for the desired columns.
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [18]:
# Assemble into DataFrame
spending_summary =

# Display results
spending_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84,86.39,76.72
$585-630,72.07,71.03,91.52,87.29,79.88
$630-645,69.85,69.84,84.69,83.76,71.00
$645-680,68.88,69.05,81.57,81.77,66.76

## Scores by School Size

In [19]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [20]:
# Categorize the spending based on the bins
per_school_summary["School Size"] =
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630,Large (2000-5000)
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791,<$585,Medium (1000-2000)
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645,Large (2000-5000)
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645,Large (2000-5000)
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630,Medium (1000-2000)
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680,Large (2000-5000)
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717,<$585,Small (<1000)
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680,Large (2000-5000)
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766,$645-680,Large (2000-5000)
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979,$585-630,Small (<1000)
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645,Large (2000-5000)
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630,Medium (1000-2000)
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122,$630-645,Medium (1000-2000)
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103,<$585,Large (2000-5000)
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222,<$585,Medium (1000-2000)

In [21]:
# Calculate averages for the desired columns.
size_maths_scores = per_school_summary.groupby(["School Size"])["Average Maths Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_maths = per_school_summary.groupby(["School Size"])["% Passing Maths"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [22]:
# Assemble into DataFrame
size_summary =

# Display results
size_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

## Scores by School Type

In [23]:
# Create new series using groupby for:
# Type | Average Maths Score | Average Reading Score | % Passing Maths | % Passing Reading | % Overall Passing

type_maths_scores = per_school_summary.groupby(["School Type"])["Average Maths Score"].mean()
type_reading_scores = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_maths = per_school_summary.groupby(["School Type"])["% Passing Maths"].mean()
type_passing_reading = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
type_overall_passing = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [24]:
# Assemble into DataFrame
type_summary =

# Display results
type_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340